<section class="bg-secondary text-white py-8 px-4 lg:px-0">
    <div class="container mx-auto">
        <h3 class="newsletter-title block mb-8">
            {{ theme.theme_mod('newsletter-title', 'Meld u aan voor de nieuwsbrief, dan houden we u op de hoogte.') }}
        </h3>

        <section>
            {% filter shortcodes %}
                [ninja_form id=2]
            {% endfilter %}
        </section>
    </div>
</section>
<footer class="footer">
    {% for item in footerMenu.items %}
        <a href="{{ item.link }}" title="{{ item.title }}" target="{{ item.target }}" style="text-align: center;">{{ item.title }}</a>
    {% endfor %}
</footer>

<script src="https://kit.fontawesome.com/5c93836f5f.js"></script>
