<header class="py-6 relative">
    <div class="container mx-auto px-4 lg:px-0">
        <div class="flex content-center items-center">
            <img class="logo" src="{{ Image(theme.theme_mod('custom_logo')).src }}" alt="{{ site.title }}">
            {% if primaryMenu.items %}
            <button data-opens="menu" id="menu-opener" class="lg:hidden ml-auto"><i class="fas fa-bars"></i></button>
            <nav class="navMenu" id="nav-menu" data-controlledby="#menu-opener">
                {% for item in primaryMenu.items %}
                    <a href="{{ item.link }}" class="{{ item.classes|join(' ') }}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </nav>
            {% endif %}
        </div>
    </div>
</header>

<script>
    document.getElementById('menu-opener').addEventListener('click', function() {
      document.getElementById('nav-menu').classList.toggle('active');
    })
</script>
